.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    font-family: "Roboto", sans-serif;
}

.card {
    justify-content: space-evenly;
    margin: 1rem;
    border-radius: 5px;
    background: #fff;
    width: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
}

.card-head {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 252px;
    background: #fa782e;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.card-body {
    margin: 1em;
}

.greeting {
    animation: slideIn 2s;
}
/*
@keyframes slideIn {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}
*/
.card:hover {
    transform: scale(1.05);
}

.card-head .card-head-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90%;
    -webkit-filter: drop-shadow(5px 5px 10px #222);
    filter: drop-shadow(5px 5px 10px #222);
}

.card h2 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
}
.card p {
    margin: 0px;
    padding: 0px;
}
.card .desc {
    font-size: 0.8em;
    color: #6d597a;
}

.product-size {
    display: inline-block;
}

.product-size h4 {
    float: left;
    font-size: 11px;
    margin-top: 20px;
    text-transform: uppercase;
}
.ul-size {
    float: right;
}

.ul-size li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-size li a {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    color: #000;
    cursor: pointer;
}

.ul-size li a.active {
    background: #f35e3d;
    color: #fff;
}

.product-color {
    display: inline-block;
    margin-top: -15px;
}

.product-color h4 {
    float: left;
    font-size: 11px;
    margin-top: 20px;
    text-transform: uppercase;
}

.ul-color {
    float: right;
}
.ul-color li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-color li a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    cursor: pointer;
}

.ul-color li a.orange {
    background: #f35e3d;
}

.ul-color li a.pink {
    background: pink;
}

.ul-color li a.yellow {
    background: #ffd414;
}

.ul-color li a.active:after {
    position: absolute;
    content: "";
    display: inline-block;
    border: 1px solid #f35e3d;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: -5px;
}

.product-cart {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #87befd;
    border: dashed 1px #fff;
    transition: 0.4s;
}

.product-price {
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 7px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
    float: right;
    margin-top: 5px;
}

.product-price b {
    margin-left: 5px;
}

.product-cart-icon {
    margin-top: -6px;
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #96ddff;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 10.7em;
    height: 2em;
    line-height: 3;
    background: #96ddff;
    overflow: hidden;
    border-radius: 0.25em;
    margin-top: 10px;
    margin-left: 96px;
}
select {
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: -9px;
    right: 0;
    padding: 0 0.8em;
    background: #a5e2ff;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}
